//@import '~bootstrap/scss/bootstrap';
//@import "~admin-lte/node_modules/bootstrap/scss/bootstrap.scss";
//@import "~admin-lte/plugins/fontawesome-free/css/all.min.css";
//@import "~admin-lte/dist/css/adminlte.css";
@import "theme/admin-lte.css";
@import "theme/fa.css";

* {
    font-size: 14px;
    font-family: Ubuntu, sans-serif;
}

.invalid-feedback {
    font-size: .7rem;
}

a:hover {
    text-decoration: none;
}

.text-default {
    color: #212529;
}

.text-default-white {
    color: rgba(255, 255, 255, 0.75);

    &:hover {
        color: rgba(255, 255, 255, 0.5);
    }
}

.dark-mode .text-default {
    color: #e1e1e1;
}

.admin-sort {
    vertical-align: middle;
    white-space: nowrap;

    i {
        vertical-align: middle;
    }
}

.nav-sidebar .nav-item > .nav-link {
    cursor: pointer;
}